# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sh
WCSPH
Cell2Edge
Cell2Face
MakeMesh

# VS Code files
*.json

#Inputs
#Inputs/*
*.cdl
*.taumesh*
*.pval*
*.bmap
*.edges
*.faces
*.grid*

para

# Folders
2D220
2DHLCRM
2DJSM
Coaxial
CRM_P
Cube
Inputs
Outputs
JSM_P_2
P_HLCRM
P_JSM
PinCell
RAE_NG
Square

# Output files
*.plt
*.szplt*
*.dat
*.lpk
*.sty
*.lay
*.avi
*.png
*.info
*.stackdump
*.log
*.mp4

SPHPost
*sol
